<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Way2Rental"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon, android:roundIcon">
        <!-- The tools:replace attribute ensures your specified icons are used,
             overriding any from merged library manifests. -->
        
        <activity 
            android:name=".ui.auth.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".MainActivity"
            android:exported="true" 
            android:label="@string/app_name"
            android:theme="@style/Theme.Way2Rental">
            <!-- No launcher intent filter here -->
        </activity>
        
        <activity android:name=".ui.auth.RegistrationActivity" />

        <!-- Added ProductListActivity -->
        <activity
            android:name=".ui.ProductListActivity"
            android:label="@string/title_activity_product_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Way2Rental.NoActionBar"> 
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Added ProductDetailActivity -->
        <activity
            android:name=".ui.ProductDetailActivity"
            android:label="@string/title_activity_product_detail"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.Way2Rental.NoActionBar"> 
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <!-- Added EditProfileActivity -->
        <activity
            android:name=".ui.profile.EditProfileActivity"
            android:label="Edit Profile" 
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

    </application>

</manifest>
